@(salesOrders: List[SalesOrder])

@main {
	<h1>Post Goods Issue</h1>
	@if(flash.containsKey("success")) {
		<div class="alert alert-success">
			@flash.get("success") 
		</div>
	}
	@if(flash.containsKey("error")) {
		<div class="alert alert-error">
			@flash.get("error") 
		</div>
	}

	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Customer</th>
						<th>Promise Date</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@for(salesOrder <- salesOrders) {
						<tr>
							<td>
								<a href="@controllers.routes.SalesOrderController.editProductData(salesOrder.getId())">
									@salesOrder.getId()
								</a>
							</td>
							<td>
								<a href="@controllers.routes.CustomerController.details(salesOrder.getCustomer().getId())">
									@salesOrder.getCustomer().getName()
								</a>
							</td>
							<td>@salesOrder.getMaxPromiseDate()</td>
							<td>
								@if(salesOrder.isPostable()) {
									<a href="@controllers.routes.SalesOrderController.postGoodsIssue(salesOrder.getId())">
										Post Goods Issue
									</a>
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}
